body {
    font-family: Arial;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#wrapper {
    width: 100%;
    text-align: center;
}

#inputArea {
    font-size: 80%;
    font-family: 'Courier New', Courier, monospace;
    padding: 1em;
    text-transform: uppercase;
    width: 50em;
    height: 15em;
    resize: none;
}

footer img {
    height: 1.6em;
    width: 1.6em;
    position: absolute;
    float: right;
    bottom: 1.2em;
    right: 1.2em;
}